<ion-header>
  <ion-toolbar>
    <ion-title>Survey</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    Team Number:<br>
      <input type="text" name="teamNumber"><br>
    Match Number:<br>
      <input type="text" name="matchNumber"><br>
    Starting Position:<br>
      <input type="radio" name="startingPosition" value="Position 3(Top)" checked> Position 3(Top)<br>
      <input type="radio" name="startingPosition" value="Position 2"> Position 2<br>
      <input type="radio" name="startingPosition" value="Position 1(Bottom)"> Position 1(Bottom)<br>
  </form>
</ion-content>
